@import "../common/variables";


.<%= compName %> {
  width: 55px;
  height: 187px;
  background: transparent url('../assets/images/<%= compName %>.gif') no-repeat;

  &.<%= compName %>-1 {
    background-position-x: 5px;
  }
  &.<%= compName %>-2 {
    background-position-x: -40px;
  }
  &.<%= compName %>-3 {
    background-position-x: -93px;
  }
  &.<%= compName %>-4 {
    background-position-x: -149px;
  }
  &.<%= compName %>-5 {
    background-position-x: -213px;
  }
  &.<%= compName %>-6 {
    background-position-x: -279px;
  }
  &.<%= compName %>-7 {
    background-position-x: -347px;
  }
  &.<%= compName %>-8 {
    background-position-x: -415px;
  }
}
