.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container.demo {
  min-height: 700px;
}

.pull-center {
  margin: 0 auto;
  width: 320px;

  .btn {
    margin-top: -115px;
  }

  .<%= compName %> {
    display: inline-block;
    margin: 0 20px 0 30px;
  }
}
